<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="applicationId" value="c7d9b324-a7b9-47b1-bda0-c156c1cdbc86" />
    <add key="applicationSecret" value="DYtHpvdYmzZjnfmz2m/9ElODRwU/HnEEdGdFmJIvKeo=" />
    <add key="rabbitMqUri" value="place holder" />
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ilanastorage45712;AccountKey=wir2voyZoglm8rZPGMs6UDGkx9SUY8aSRVgdgv+xoS/IbaeH1U+pAIJnAkt2kS1QvycqgXpFlGOunV5JJJ2sBQ==;EndpointSuffix=core.windows.net" />
    <add key="AzureKeyVaultUri" value="https://ilanasecurecommkv1012.vault.azure.net/" />
    <add key="EthereumNodeUrl" value="https://rinkeby.infura.io/fIF86MY6m3PHewhhJ0yE" />
    <add key="EncryptionKeyName" value="newname" />
    <add key="DecryptionKeyName" value="newname" />
    <add key="SignKeyName" value="newname" />
    <add key="VerifyKeyName" value="newname" />
    <add key="SqlUserID" value="sqladmin" />
    <add key="SqlPassword" value="abc123ABC!@#" />
    <add key="SqlInitialCatalog" value="cryptowallet" />
    <add key="SqlDataSource" value="52.166.199.146,1433" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>